{% extends 'base.html' %} 
{% block body %}

My Shopping Cart

<table>
  <thead>
    <tr>
      <th>Melon Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for melon in cart_melons %}
      <tr>
        <td>{{ melon.common_name }}</td>
        <td>{{ melon.quantity }}</td>
        <td>${{ "%0.2f" | format(melon.price) }}</td>
        <td>${{ "%0.2f" | format(melon.total_cost) }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

Total: ${{ "%0.2f" | format(order_total) }}

<a href="/empty-cart">Empty Cart</a>

{% endblock %}
