{% extends 'base.html' %}

{% block body %}
  <h2>Please Sign In</h2>

  <form method="post" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}

    <div>
      {{ form.username.label }}: {{ form.username(size=20) }}
      {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>

    <div>
      {{ form.password.label }}: {{ form.password(size=20) }}
      {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>

    <div>
      <input type="submit" value="Sign In">
    </div>
  </form>

{% endblock %}
